<form class="example-form" [formGroup]="registerForm">
    <mat-form-field class="example-full-width" style="width: 100%;" appearance="none">
        <div style = " display: flex;">
        <input
        style="border: 1px solid black; padding-left: 5px;"
          #autocompleteInput
          type="text"
          placeholder="Search By User Name"
          aria-label="Number"
          matInput
          formControlName="search"
          [matAutocomplete]="auto"
        />
        <button mat-flat-button color="primary" (click)="Reset()">Reset</button>
    </div>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of autoCompleteList"
            [value]="option"
            (onSelectionChange)="selectUser($event)"
          >
            <div class="float-child">
              <div>
                <img class="childimg" src="{{ option.avatar_url }}" />
              </div>
              <div>
                <p>{{ option.login }}</p>
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </form>
  